langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
pyowm
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
langchain_community
langchain_chroma
langchain_groq
huggingface_hub
gunicorn
